body, html {
   
    font-family: Arial, sans-serif;
    background-color: rgb(228, 252, 255);
}
 header{
   display:flex;
   justify-content: center;
   align-items: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size:18px;
   border-bottom: 2px solid #1c7700;
   padding-bottom: 15px;
}


.header-element {
   /*border-right: 1px solid #000; /* Adjust thickness and color as needed */
   padding-right: 20px; /* Adjust spacing between elements */
}

a {
   color: black;
   text-decoration: none;
   font-weight: bold;
 }

 a:hover {
   color: rgb(135, 202, 233); /* Change to the desired hover color */
}
/*Footer*/

.section {
   display: flex;
   justify-content: space-between;
   list-style-type: none; /* Espacio uniforme entre columnas */
 }
 
 .column {
   flex: 1; /* Cada columna ocupa un espacio igual */
   margin: 0 10px; /* Espaciado entre columnas */
   padding: 50px; /* Relleno interno de cada columna */
   /* Color de fondo para visualización */
 }
 
footer {
   display: flex;
   justify-content: center;
   align-items: center;
}

.AetherLandLogo {
   width: 120px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
   background-image: url("Imagenes/AetherLand Logo Big.png");
   background-size: cover;

 }

 .setup-icon{
   width: 20px; /* Adjust width as needed */
   height: 20px; /* Adjust height as needed */
   background-image: url("Imagenes/infologo.png");
   background-size: cover;  
   

}
.login-icon{
   width: 20px; /* Adjust width as needed */
   height: 20px; /* Adjust height as needed */
   background-image: url("Imagenes/Userlogo.png");
   background-size: cover;  

}
.signup-icon{
   width: 20px; /* Adjust width as needed */
   height: 20px; /* Adjust height as needed */
   background-image: url("Imagenes/Userlogo.png");
   background-size: cover;  

}
.ranks-icon{
   width: 20px; /* Adjust width as needed */
   height: 20px; /* Adjust height as needed */
   background-image: url("Imagenes/rankslogo.png");
   background-size: cover;  

}
.torneos-icon{
   width: 20px; /* Adjust width as needed */
   height: 20px; /* Adjust height as needed */
   background-image: url("Imagenes/Torneoslogo.png");
   background-size: cover;  

} 
/*base*/

.AetherLandLogoMain {
   display:flex;
   width:500px;
   height: 300px;
   background-image: url("Imagenes/AetherLand Logo Big.png");
   background-size: cover;

 }
 

 .Introduccion{
   
  max-width: 1000px; 
 }
 
 

main {
   display:flex;
   align-items: center;
  

}



 .right-menu{
    display: flex;
    justify-content: center;
    align-items: center;
  right: 0;
  height: 100%;
  width: 130px; /* Ancho del menú */
  
 }

 h2{
   display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 90;
    font-size: 22px;
 }

 .Comunidades{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content:center;
   gap:1em;

 }

 .KOF02logo{
   width: 120px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
   background-image: url("Imagenes/KOF02logo.png");
   background-size: cover;
   
 }
 .GGX2logo{
   width: 120px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
   background-image: url("Imagenes/GGXlogo.png");
   background-size: cover;
 }
 .Xonoticlogo{
   width: 120px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
   background-image: url("Imagenes/Xonoticlogo.png");
   background-size: cover;
 }
 .SF3logo{
   width: 120px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
   background-image: url("Imagenes/SF3logo.png");
   background-size: cover;
 }
 .MSlogo{
   width: 120px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
   background-image: url("Imagenes/MSlogo.png");
   background-size: cover;
 }
.PMlogo{
   width: 120px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
   background-image: url("Imagenes/PMlogo.png");
   background-size: cover;
}
.Tetriologo{
   width: 120px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
   background-image: url("Imagenes/Tetriologo.png");
   background-size: cover;
}
.Dr.Egglogo{
   width: 120px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
   background-image: url("Imagenes/Dr.logo.png");
   background-size: cover;   
}


